{% extends 'base.html' %}


{% block title %}
  {{ object.title }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1>{{ object.title }}</h1>
        <p class="lead">{{ object.signature }}</p>
        <p>{{ object.text }}</p>
        {% if object.session_key == request.session.session_key %}
          <a href="{% url 'update_entry' object.slug %}">Отредактировать</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}